.hero-sections{
    width: 100%;
    display: flex;
}

.hero-section {
    width: 50%;
}

#hero-left {
    /* background-color: #1da3fc; */
    background-color: #F0F0F0;
}

.hero-left-text {
    padding-top: 15%;
    padding-left: 30%;
    text-align: left;
    font-size: 1em;
}

.hero-left-text h1 {
    font-size: 3em;
}

#hero-right img {
    display: block;
    max-width:100%;
    max-height: 100%;
}