.impression{
    flex: 1;
cursor: pointer;
margin: 1.5rem;
min-width: 15.625rem;
max-width: 21.875rem;
width: 12.5rem;
box-shadow: 0.15rem 0.15rem 0 rgba(0,0,0,.12);
box-shadow: 0 0.25rem 0.125rem 0 rgba(33,37,41,.05);
background-color: white;
border-bottom: solid 0.125rem rgba(0,0,0,.12);
border-radius: 0.125rem;
}

.thumbnail {
    height: 185px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    transition: opacity .15s ease-out;
    position: relative;
}

.details {
    padding: 15px 18px;
}

#impressionen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: opacity .05s ease-out;
    padding-top: 23px;
    margin: 0 -10px;
}