section{
    text-align: center;
    padding: 5rem;
}

section p {
    font-size: 1.5rem;
}

section h1, section p {
    color: #4d4d4d;
  }

.person {
    display: inline-block;
    width: 30rem;
    text-align: center;
}

#personen {
    text-align: center;
}
  
#personen h2 {
    text-align: left;
 }