section {
    overflow: hidden;
}

section p {
    font-size: 1.5rem;
}

section h1, section p {
    color: #4d4d4d;
  }

#allgemein-content img {
    display: block;
    width: 42.5rem;
    margin: 1rem auto;
}

#ort-content img {
    display: block;
    width: 42.5rem;
    margin: 1rem auto;
}

#boersenleitung-content img {
    display: block;
    width: 25.5rem;
    margin: 1rem auto;
}

#boersenordnung-content img {
    display: block;
    width: 42.5rem;
    margin: 1rem auto;
}